.header {
    height: 293px;
    padding: 92px 50px 96px 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
}

.header__menu {
   display: flex;
}

.header__links-list {
    display: flex;
    margin: auto;
    column-gap: 32px;
    list-style: circle;
}

.header__logo {
    display: block;
    width: 148px;
}

.address {
    margin: 0;
    padding: 0;
    font-style: normal;
    max-width: 240px;
}

.header__address {
     display: flex;
    flex-direction: column;
    justify-self: end;
    align-items: flex-start
}

.cover {
    height: 757px;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 165px 50px 50px 50px;
}

.overlay {
    width: 1100px;
    height: 757px;
    background: rgb(0 0 0 / 0.6);
    position: absolute;
}

.cover-title {
    width: 100%;
    color: #FFFFFF;
    font-weight: 700;
    font-style: bold;
    font-size: 100px;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    height: 115px;
    line-height: 115%;
    display: flex;
    flex-direction: column;

}

.accent-span {
    /* display: block; */
}

.text-left {
    align-self: self-start;
}

.text-center {
    align-self: center;
    
}

.text-right {
    align-self: flex-end;
}
.bid-button {

}

.lots {
    height: 723px;
    margin-top: 180px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: beige;
}

.about {
    height: 595px;
    margin-top: 120px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: beige;
}

.footer {
    height: 180px;
    margin-top: 180px;
    background-color: antiquewhite;
}