.header {
    height: 293px;
    padding: 92px 50px 96px 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-weight: 400;
}

.header__menu {
    display: flex;
}

.menu{
    font-size: 18px;
}

.header__links-list {
    display: flex;
    margin: auto;
    column-gap: 32px;
    list-style: circle;
}

.header__links-list-item-no_bullit {
    list-style: none;
}

.header__logo {
    display: block;
    width: 148px;
}

.address {
    margin: 0;
    padding: 0;
    font-style: normal;
    max-width: 240px;
    font-size: 18px;
}

.header__address {
    display: flex;
    flex-direction: column;
    justify-self: end;
    align-items: flex-start
}

.cover {
    min-height: 757px;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 165px 50px 50px 50px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay {
    background-color: rgb(0 0 0 / 0.6);
    position: absolute;
    inset: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.cover__title {
    width: 100%;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    gap: 20px;
}

.aligned-text_left {
    align-self: flex-start;
}

.aligned-text_center {
    align-self: center;
}

.aligned-text_right {
    align-self: flex-end;
}

.letter-spacing-extended {
    letter-spacing: 0.3em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description{
    display: flex;
    min-width: 1000px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.cover__description-text {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0;
    word-spacing: 1rem;
}

.bet-button {
    color: white;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 22px;
    border: 1px solid #FFFFFF;
    padding: 12px 32px 11px 31px;

}

.lots {
    height: 723px;
    width: 1052px;
    margin-top: 180px;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    margin-left: 40px;

}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    background-size: cover;
    background-position: center;
}

.card-link {
    height: 100%;
    text-decoration: none;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 48px 40px;
    position: relative;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 2;
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    z-index: 2;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
}

.about {
    height: 595px;
    margin-top: 120px;
    margin-left: 24px;
    margin-right: 24px;
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__column {
    padding-top: 35px;
    padding-left: 47px;
}

.content__column {
    padding-top: 133px;
    padding-bottom: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__logo-image {
    width: 141.54px;
    height: 112.55px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.about__paragraph-one {
    margin-bottom: 24px;
    margin-right: 5px;
}

.footer {
    height: 180px;
    margin-top: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: start;
    padding: 0px 50px 0px 50px;
}

.footer_address {
    display: flex;
    flex-direction: column;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
}

.footer__social-list {
    list-style: none;
    display: flex;
    gap: 48px;
}
.footer__social-icon {
    width: 48px;
    height: 48px;
}