.header {
    height: 293px;
    padding: 92px 50px 96px 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
}

.header__menu {
   display: flex;
}

.header__links-list {
    display: flex;
    margin: auto;
    column-gap: 32px;
    list-style: circle;
}

.header__logo {
    display: block;
    width: 148px;
}

.address {
    margin: 0;
    padding: 0;
    font-style: normal;
    max-width: 240px;
}

.header__address {
    display: flex;
    flex-direction: column;
    justify-self: end;
    align-items: flex-start
}

.cover {
    min-height: 757px;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 165px 50px 50px 50px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay {
    background-color: rgb(0 0 0 / 0.6);
    position: absolute;
    inset: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
}

.cover__title {
    width: 100%;
    color: #FFFFFF;
    font-weight: 700;
    font-style: bold;
    font-size: 100px;
    letter-spacing: 1rem;
    text-transform: uppercase;
    /* min-height: 115px; */
    /* line-height: auto; */
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
}

.text-left {
    align-self: self-start;
}

.text-center {
    align-self: center; 
}

.text-right {
    align-self: flex-end;
}

.cover__description{
    display: flex;
    min-width: 1000px;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}

.cover__description-text {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.1rem;
    word-spacing: 1rem;
}

.bet-button {
    
}

.lots {
    height: 723px;
    margin-top: 180px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: beige;
}

.about {
    height: 595px;
    margin-top: 120px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: beige;
}

.footer {
    height: 180px;
    margin-top: 180px;
    background-color: antiquewhite;
}